In [1]:
print('Hello World')

Hello World

In [2]:
a=3
b=2
c=a+b
print(c)
print(d)

5

NameError: name 'd' is not defined

## Variables and Datatypes

Variables are storage spaces for our data

1. integer
2. float
3. boolean
4. string

1. List
2. Tuple
3. Set
4. Dictionary

Dynamic Memory/Datatype Allocation

int a=5

a=5 (int)

a=5.0(float)

In [4]:
a=5
b=2

c=a//b

print(c)
print(type(c))

2
<class 'int'>

## String

Collection of character/characters.

In [5]:
str1='Danton'

1. lower() - Convert my entire string to lowercase
2. upper() - Convert my entire string to uppercase
3. islower() - Check if my entire string is lowercase (True/False)
4. isupper() - Check if my entire string is uppercase
5. index() - Return the index of the first occurence of the character
6. capitalize() - First letter is changed to uppercase
7. split() - It will split my string

In [6]:
str1.lower()

'danton'

In [7]:
str1

'Danton'

In [8]:
str1.upper()

'DANTON'

In [9]:
str1.isupper()

False

In [10]:
str1=str1.lower()

In [11]:
str1.islower()

True

In [12]:
str1.index('a')

1

In [13]:
str1

'danton'

In [14]:
str1.capitalize()

'Danton'

## Indexing 

To help with data fetching 

Slicing and Splitting

Slicing - Creating/Removing a sub-string from a string

In [15]:
str1

'danton'

## Slicing

str1[x:y:z]  

x-Starting index
y-Ending index (Give one value extra)
z-Increment

In [17]:
str1[1:4]

'ant'

In [18]:
str2='My name is Danton'

In [19]:
str2[3:10]

'name is'

## Splitting

It will split a string based on a delimiter and store the different parts in a list

In [20]:
str2

'My name is Danton'

In [21]:
str2.split()

['My', 'name', 'is', 'Danton']

Ex of places where we might encounter different delimiters

Tab - Excel file

Comma - CSV 1,'Danton',27

In [22]:
str3='My,name,is,Danton'

In [24]:
str3.split(',')

['My', 'name', 'is', 'Danton']

## Negative Indexing

In [25]:
str1

'danton'

In [26]:
str1[-2]

'o'

## Getting input from User

In [28]:
email=input('Enter email id')

print(email)

Enter email iddantonjesuraja@gmail.com
dantonjesuraja@gmail.com

# Questions for HW


Qn1: Get an email as input from user. Slice the username out of the email

Ex: dantonjesuraja.a@gmail.com O/P: dantonjesuraja.a
shivkrish@gmail.com O/P: shivkrish

Hint: You can solve it in 2 ways (Split, Slice)

Qn2: Saravana O/P: Ravana

In [30]:
str1=input('Enter an email')

op=str1[0:str1.index('@')]

print(op)

Enter an emailshivkrish@gmail.com
shivkrish